<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="upload" >
    请输入姓名<input id="username" name="username" type="text" required="required"><br><br>
    请输入密码<input id="pwd" name="pwd" type="password" required="required"><br><br>
    <div>
        请输入验证码:<input id="code" name="code" type="text" required="required"><br><br>
        <img id="imgCode" name="imgCode" src="/generateCode" onclick="turncode()">
    </div>
    <input type="button" value=" 登录 " onclick="login()" />
</form>

</body>
<script type="text/javascript"  src="/js/jquery-3.4.1.js"></script>
<script>
    function turncode() {
        $("#imgCode").attr("src", '/generateCode?' + Math.random());
    }

    function login() {
        var username = $("#username").val();
        var pwd = $("#pwd").val();
        var code = $("#code").val();

        var adata = {
            username: username,
            pwd : pwd,
            code:code,
        };
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型，或者用GET
            dataType: "JSON",//预期服务器返回的数据类型，可以改成json
            url: "/login" ,//ip:端口/项目名称/Servlet名称
            data: adata,
            success: function (result) { //获得后端判断的返回值
                if (result.resultCode == "0") {
                     window.location.href = "/querylist";
                };
            },
        });
    }
</script>
</html>