<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table id="test" border="1" style="width: 500px;">
    <tr style="background-color: #ffd777;font-size: 16px;">
        <th style="text-align: center;"  class="adiid">编号</th>
        <th style="text-align: center;">用户名</th>
        <th style="text-align: center;">密码</th>
        <th style="text-align: center;">编辑</th>
    </tr>
    <tr th:each="user:${userList.list}">
        <td style="text-align: center;"  th:text="${user.id}"></td>
        <td style="text-align: center;" th:text="${user.username}"></td>
        <td style="text-align: center;" th:text="${user.pwd}"></td>
        <td style="text-align: center;">
            <button onclick="deleteUser(this)">Edit</button>&nbsp;&nbsp;
            <a class="btn btn-danger" th:href="@{/delete(id=${user.id})}">删除</a>
    </tr>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li th:if="${userList.currentPage ==1}" class="disabled">
            <a th:href="@{#}" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        <li th:if="${userList.currentPage >1}">
            <a th:href="@{/querylist(currentPage = ${userList.currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>&nbsp;&nbsp;&nbsp;
        <th:block th:each="i : ${#numbers.sequence(1,userList.totalPage)}">
            <li th:if="${userList.currentPage == i}">
                <a th:href="@{/querylist(currentPage = ${i})}" th:text="${i}"></a>
            </li>&nbsp;
        </th:block>
        <li th:if="${userList.currentPage == userList.totalPage}" class="disabled">
            <a th:href="@{#}" aria-label="Previous">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        <li th:if="${userList.currentPage < userList.totalPage}" class="disabled">
            <a th:href="@{/querylist(currentPage = ${userList.currentPage + 1 })}" aria-label="Previous">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>
</nav>
</body>
<script type="text/javascript"  src="/js/jquery-3.4.1.js"></script>
<script>
    function deleteUser(thisObj) {
        var tr = $(thisObj).closest("tr");
        alert(tr);
    }
</script>

</html>